.logo {
  min-width: 25%;
  padding-left: 1rem;
}
.container_search-bar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: auto;
  width: 55%;
  /*Los input no heredan propiedades font*/
  & input {
    border: none;
    border-radius: 100px;
    font-size: inherit;
    font-family: inherit;
    height: 3rem;
    margin-right: -3.5rem;
    outline: none;
    padding: 1rem 1rem;
    transition: all 0.3s;
    width: 70%;
    /*Animación de la barra de búsqueda*/
    &:focus {
      background-color: var(--color-grey-light);
      height: 120%;
      outline: none;
      width: 100%;
    }
    //   box-shadow: var(--shadow-light);
  }

  // margin-left: auto;
}
.search__icon {
  background-color: transparent;
  border: none;
  border-left: solid 1px var(--color-grey-light);
  padding-left: 1rem;
}
.catalog__category-title {
  //   background-color: #fff;
  border-bottom: solid 1px var(--color-grey-light);
  color: var(--color-grey-dark);
  font-size: var(--size-headline);
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0.6rem;
  padding-bottom: 1rem;
  width: 100%;
}
.catalog__category {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  &__article {
    background-color: #fff;
    border-radius: 3px;
    margin: 1rem;
    width: 98%;
    &__item-description {
      border-top: solid 1px var(--line);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 1rem;
      padding: 1.5rem;
      & .item-price {
        color: var(--color-grey-dark);
        font-size: var(--size-prices);
        font-weight: 700;
        width: 30%;
      }
      & .item-discount {
        color: var(--color-green);
        font-size: var(--size-desc);
        width: 25%;
      }
      & .item-name {
        color: var(--color-grey-dark);
        font-size: var(--size-desc);
        width: 25%;
        display: none;
      }
    }
  }

  &__description {
    align-self: flex-start;
    // background-color: #fff;
    display: block;
    // margin-top: 2rem;
    padding-left: 2.5%;
  }
}
/*-------Mostrar/ocultar nav-bar*/
.show {
  display: flex;
  & > * {
    display: flex;
  }
}
/* Responsivo a 600px*/
@media (min-width: 600px) {
  main {
    padding-top: 12.3rem;
  }
  .logo {
    min-width: 15%;
    & img {
      max-height: 46px;
    }
  }
  .header__copy {
    width: 20%;
  }
  .header__nav-bar__icon {
    display: none;
  }
  .header__second-row {
    display: flex;
    &__list {
      display: flex;
    }
  }

  .catalog__category__article__item-description .item-name {
    display: block;
  }
  .catalog {
    &__category {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      &-title {
        background-color: transparent;
        border-bottom: none;
        margin: 0;
      }
      &__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        height: 460px;
        margin: 0.6rem 0.2rem;
        width: 48%;
        &__item-description {
          align-items: flex-start;
          flex-direction: column;
          width: 100%;

          & .item-price,
          & .item-discount,
          & .item-name {
            width: 80%;
          }
        }
        & img {
          max-width: 80%;
        }
      }
    }
  }
}

/*Responsivo a 770 px*/
@media (min-width: 769px) {
  main {
    padding-top: 12.3rem;
  }
  .logo {
    min-width: 15%;
    & img {
      max-height: 46px;
    }
  }
  .header__nav-bar__icon {
    display: none;
  }
  .header__second-row__list {
    display: flex;
  }

  .header {
    &__copy {
      width: 20%;
    }
    .container_search-bar {
      width: 55%;
      // justify-content: flex-end;
    }
  }
  .catalog__category__article__item-description .item-name {
    display: block;
  }
  .catalog__category__article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: flex;
    flex-wrap: wrap;
    height: 460px;
    margin: 0.6rem 0.2rem;
    width: 30%;
    & img {
      border-bottom: solid 1px var(--color-grey-light);
      height: auto;
      max-width: 80%;
      padding-bottom: 4rem;
    }
    &__item-description {
      border: none;
      margin: -2rem 0 1rem 1rem;
      width: 100%;
      & .item-price,
      & .item-discount,
      & .item-name {
        width: 80%;
      }
    }
  }
}
/*Responsivo a 1200px*/
@media (min-width: 1200px) {
  main {
    padding-top: 12.3rem;
  }
  .logo {
    min-width: 15%;
    & img {
      max-height: 46px;
    }
  }
  .header__nav-bar__icon {
    display: none;
  }
  .header__second-row__list {
    display: flex;
  }
  .catalog__category__article__item-description .item-name {
    display: block;
  }
  .catalog__category__article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    display: flex;
    flex-wrap: wrap;
    height: 460px;
    margin: 0.6rem 0.2rem;
    max-width: 290px;
    width: 22%;
    & img {
      height: auto;
      max-width: 80%;
      padding-bottom: 4rem;
    }
    &__item-description {
      border-top: solid 1px var(--color-grey-light);
      border: none;
      margin: -2rem 0 1rem 1rem;
      width: 100%;
      & .item-price,
      & .item-discount,
      & .item-name {
        width: 80%;
      }
    }
  }
}
