.logo {
  padding-left: 1rem;
  min-width: 25%;
}
.container_search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin-right: auto;

  & input {
    margin-right: -3.5rem;
    font-size: inherit;
    font-family: inherit;
    height: 3rem;
    width: 70%;
    outline: none;
    border: none;
    border-radius: 100px;
    padding: 1rem 1rem;
    transition: all 0.3s;

    &:focus {
      height: 120%;
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light);
    }
    //   box-shadow: var(--shadow-light);
  }

  // margin-left: auto;
}
.search__icon {
  border: none;
  border-left: solid 1px var(--color-grey-light);
  padding-left: 1rem;
  background-color: transparent;
}
.catalog__category-title {
  //   background-color: #fff;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0.6rem;
  padding-bottom: 1rem;
  border-bottom: solid 1px var(--color-grey-light);
  font-size: 2.4rem;
  color: var(--color-grey-dark);
  font-weight: 700;
}
.catalog__category {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__article {
    width: 98%;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    &__item-description {
      padding-top: 2rem;
      border-top: solid 1px var(--color-grey-light);
      margin: 2rem 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & .item-price {
        width: 30%;
        font-size: 1.8rem;
        color: var(--color-grey-dark);
        font-weight: 700;
      }
      & .item-discount {
        width: 25%;
        font-size: 1.6rem;
        color: var(--color-green);
      }
      & .item-name {
        width: 25%;
        font-size: 1.6rem;
        color: var(--color-grey-dark);
      }
    }
  }

  &__description {
    // background-color: #fff;
    display: block;
    // margin-top: 2rem;
    align-self: flex-start;
    padding-left: 2.5%;
  }
}
@media (min-width: 600px) {
  .logo {
    min-width: 15%;
    & img {
      max-height: 46px;
    }
  }
  .header__copy {
    width: 20%;
  }
  .header__nav-bar__icon {
    display: none;
  }
  .header__second-row {
    display: flex;
    &__list {
      display: flex;
    }
  }
  html {
    // font-size: 40%;
  }
  .catalog {
    &__category {
      flex-wrap: wrap;
      width: 100%;
      flex-direction: row;
      justify-content: space-evenly;
      &-title {
        margin: 0;
        background-color: transparent;
        border-bottom: none;
      }
      &__article {
        height: 460px;
        margin: 0.6rem 0.2rem;
        width: 48%;
        &__item-description {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          & .item-price,
          & .item-discount,
          & .item-name {
            width: 80%;
          }
        }
        & img {
          max-width: 80%;
        }
      }
    }
  }
}

@media (min-width: 769px) {
  .logo {
    min-width: 15%;
    & img {
      max-height: 46px;
    }
  }
  .header__nav-bar__icon {
    display: none;
  }
  .header__second-row__list {
    display: flex;
  }
  html {
    // font-size: 40%;
  }
  .header {
    &__copy {
      width: 20%;
    }
    .container_search-bar {
      width: 55%;
      // justify-content: flex-end;
    }
  }
  .catalog__category__article {
    display: flex;
    flex-wrap: wrap;
    height: 460px;
    margin: 0.6rem 0.2rem;
    width: 30%;
    & img {
      max-width: 80%;
      height: auto;
      padding-bottom: 4rem;
      border-bottom: solid 1px var(--color-grey-light);
    }
    &__item-description {
      width: 100%;
      border: none;
      margin: -2rem 0 1rem 1rem;
      & .item-price,
      & .item-discount,
      & .item-name {
        width: 80%;
      }
    }
  }
}
@media (min-width: 1200px) {
  .logo {
    min-width: 15%;
    & img {
      max-height: 46px;
    }
  }
  .header__nav-bar__icon {
    display: none;
  }
  .header__second-row__list {
    display: flex;
  }
  html {
    // font-size: 40%;
  }
  .catalog__category__article {
    max-width: 290px;
    display: flex;
    flex-wrap: wrap;
    height: 460px;
    margin: 0.6rem 0.2rem;
    width: 22%;
    & img {
      max-width: 80%;
      height: auto;
      padding-bottom: 4rem;
      border-bottom: solid 1px var(--color-grey-light);
    }
    &__item-description {
      width: 100%;
      border: none;
      margin: -2rem 0 1rem 1rem;
      & .item-price,
      & .item-discount,
      & .item-name {
        width: 80%;
      }
    }
  }
}
