a {
  color: var(--color-icon);
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
main img {
  display: block;
  margin: 1rem auto;
  max-width: 80%;
  height: auto;
}
.header {
  position: fixed;
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: var(--size-body);
  padding-bottom: 2rem;
  width: 100%;
  &__first-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; //para version movil
    padding: 1rem 0;
    width: 100%;
  }

  &__copy {
    margin: 1rem auto;
    text-align: right;
  }
  &__second-row {
    display: none;

    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    transition: height, 2s;

    & .show {
      display: flex;
    }

    &__list {
      flex-wrap: wrap;
      width: 50%;
      /*Alinear a la derecha el texto de la barra de navegación derecha */
      &:nth-of-type(2) {
        justify-content: flex-end;
        margin-left: auto;
      }
      & li {
        margin: 0 2px;
      }
    }
  }

  &__nav-bar__icon {
    border: solid 1px var(--color-icon);
    color: var(--color-grey-light);
    display: block;
    font-size: 2rem;
    padding: -2px;
    text-align: center;
    & i {
      background-color: var(--color-icon);
      padding: 0.5rem;
    }
  }
}

.image__banner {
  margin-top: -1.5rem;
  width: 98vw;
  & img.banner {
    width: 100%;
    height: auto;
  }
}

main {
  padding-top: 16rem;
}
.catalog {
  background-color: var(--color-grey-light);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: var(--size-body);
  width: 90%;
  margin: auto;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--size-body);
  padding-top: 2rem;
  & .copyright {
    margin: 2rem 0px 1.5rem 1rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    &__item {
      font-size: 1;
      text-align: center;
      width: 30%;
      & span {
        color: var(--color-grey-dark);
        display: block;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      & i {
        color: var(--color-icon);
        display: block;
        font-size: 2rem;
        margin-bottom: 1rem;
        width: auto;
      }
    }
  }
}

.delivery_icon {
  padding: 1rem;
  border-radius: 50%;
  color: var(--color-green);
  border: solid 1px var(--color-green);
}
