a {
  color: var(--color-icon);
}
a,
a:visited,
a:hover,
a:active {
  color: inherit;
}
main img {
  display: block;
  margin: 1rem auto;
  max-width: 80%;
  height: auto;
}
.header {
  position: fixed;
  z-index: 10;
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: var(--size-body);
  padding-bottom: 2rem;
  width: 100%;
  &__first-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; //para version movil
    padding: 1rem 0;
    width: 100%;
  }

  &__copy {
    margin: 1rem auto;
    text-align: right;
  }
  &__second-row {
    display: none;

    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    transition: height, 2s;

    & .show {
      display: flex;
    }

    &__list {
      flex-wrap: wrap;
      width: 50%;
      /*Alinear a la derecha el texto de la barra de navegación derecha */
      &:nth-of-type(2) {
        justify-content: flex-end;
        margin-left: auto;
      }
      & li {
        margin: 0 2px;
      }
    }
  }

  &__nav-bar__icon {
    border: solid 1px var(--color-icon);
    color: var(--color-grey-light);
    display: block;
    font-size: 2rem;
    padding: -2px;
    text-align: center;
    & i {
      background-color: var(--color-icon);
      padding: 0.5rem;
    }
  }
}

.image__banner {
  margin-top: -1.5rem;
  width: 98vw;
  & img.banner {
    width: 100%;
    max-height: 180px;
  }
}

main {
  padding-top: 14rem;
}
.catalog {
  background-color: var(--color-grey-light);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: var(--size-body);
  width: 90%;
  margin: auto;
  padding-bottom: 2rem;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--size-body);
  padding-top: 2rem;
  & .copyright {
    margin: 2rem 0px 1.5rem 1rem;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    &__item {
      font-size: 1;
      text-align: center;
      width: 30%;
      &:hover {
        & i {
          color: rgb(240, 40, 180);
        }
      }
      & span {
        color: var(--color-grey-dark);
        display: block;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
      }
      & i {
        color: var(--color-icon);
        display: block;
        font-size: 2rem;
        margin-bottom: 1rem;
        width: auto;
      }
    }
  }
}

.delivery_icon {
  padding: 1rem;
  border-radius: 50%;
  color: var(--color-green);
  border: solid 1px var(--color-green);
}

/////////////////////////Register
/*********Register section************/
.register {
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
/*Formato al formulario para hacerlo responsive*/
.register-form {
  font-size: 1.5rem;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  /*Todos los hijos directos del formulario que son divs*/
  & > div {
    transition: all 0.33s;
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px rgb(224, 223, 223);
    margin: 1rem auto;
    /* todas las etiquetas label que son hijas directas de los elementos div anteriores*/
    & label {
      display: block;
      justify-content: flex-start;
      margin: 1.5rem 0;
    }
    & > * {
      /*Todos los hijos directos de los divs*/
      border: none;
    }
  }
}
/*Nombre de la clase que tienen los divs que sirven como contenedores de cada input*/
.control-form {
  & > input {
    padding-left: 1rem;
    &:invalid {
      color: red;
    }
  }
}
/*Estética del input de tipo usuario*/
.tipousuario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  & label {
    height: 100%;
    margin: auto 1rem;
  }
}
/*Estética del div que contiene a las categorías*/
#categories {
  label {
    display: inline;
    width: 70%;
    margin: auto 1rem;
  }
  & > .category {
    display: flex;
    align-items: center;
  }
}
/*** Formato al ícono de foto de perfil****/
#user-pic {
  font-size: 8rem;
  display: block;
  margin: 2rem 0;
}

.btns {
  align-self: center;
}
/*div que contiene a los botones para mostrarlos uno a lado del otro*/
#btnform {
  color: #fff;
  background-color: var(--color-icon);
  padding: 1.5rem 0;
  border-radius: 5px;
  width: 40%;
  transition: all 0.23s;
  cursor: pointer;
  /*fondo gris al primer botó*/
  &:first-child {
    background-color: rgb(207, 206, 206);
  }
  /*Efecto de sombra al pasar el cursor*/
  &:hover {
    box-shadow: var(--shadow-dark);
  }
}

/**Termina el css del register**/

/*Empieza el login*/
//////////////////LOGIN
/*Para acomodar los elementos*/
.logincontainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  background-color: var(--color-grey-light);
  height: 50vh;
  /*Todos los formularios dentro del contenedor*/
  & form {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    /*Todos los input dentro del formulario*/
    & input {
      border: none;
      outline: none;
      box-shadow: var(--shadow-light);
      font-family: inherit;
      padding-left: 1rem;
      width: 70%;
      height: 3rem;
      margin: 2rem auto;
      display: block;
      border-radius: 3px;
      /*seleccionamos el elemento de tipo texto (Nombre)*/
      &[type~="text"]:hover {
        background-color: rgb(119, 194, 255);
      }

      &:invalid {
        color: red;
      }
      &:valid {
        color: green;
        font-weight: 900;
      }
    }
    /*Todos los botones dentro del formulario*/
    & button {
      color: #fff;
      background-color: var(--color-icon);
      width: 70%;
      padding: 0.8rem;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s;
      &:hover {
        box-shadow: var(--shadow-dark);
      }
    }
  }
}

// .control-form-oferta {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   & label {
//     width: 100%;
//   }
// }

// .contenedor-oferta {
//   display: flex;
//   // flex-wrap: wrap;
//   align-items: center;
//   width: 8%;
//   & .option {
//     margin-right: -1rem;
//     display: inline;
//     // width: 10%;
//     margin: 0 auto;
//   }
// }
