<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <script
        src="https://kit.fontawesome.com/5eeef2a623.js"
        crossorigin="anonymous"
      ></script>
      

    <title>Practica movil Mercado Libre</title>
  </head>
  <body>
       <header class="header">
      <div class="header__first-row">
        <div class="header__first-row__logo logo">
          <img src="/images/logo-mercado-liebre.svg" alt="logo" />
        </div>
<form class="container_search-bar">
        <!-- <form class="header__first-row__search-bar search-bar"> -->
          <input type="search" class="" placeholder="Grandes Ofertas" />
          <button class="search__icon">
          <i class="fas fa-search search"></i>
        </button>
        </form>
        <!-- </div> -->
        <p class="header__copy">
          <i class="fas fa-hand-holding-usd"></i> Compra en cuotas y sin tarjeta
          de crédito
        </p>
      </div>
      <!-- End of header__first-row -->
      <div class="nav-bar header__second-row" id="nav-ul">
        <ul class="nav-bar__left header__second-row__list">
          <li class="nav-bar__left__item header__second-row__list__item">
            <a href="#">Ofertas</a>
          </li>
          <li class="nav-bar__left__item header__second-row__list__item">
            <a href="#">Tiendas Oficiales</a>
          </li>
          <li class="nav-bar__left__item header__second-row__list__item">
            <a href="#">Vender</a>
          </li>
          <li class="nav-bar__left__item header__second-row__list__item">
            <a href="#">Ayuda</a>
          </li>
        </ul>
        <ul class="nav-bar__right header__second-row__list">
          <li class="nav-bar__right__item header__second-row__list__item">
            <a href="#"><i class="far fa-id-card"></i> Crea tu cuenta</a>
          </li>
          <li class="nav-bar__right__item header__second-row__list__item">
            <a href="#"><i class="fas fa-sign-in-alt"></i> Ingresa</a>
          </li>
          <li class="nav-bar__right__item header__second-row__list__item">
            <a href="#"><i class="fas fa-shopping-basket"></i> Mis compras</a>
          </li>
        </ul>
      </div>
      <button class="header__nav-bar__icon " id="hamburguer">
        <i class="fas fa-bars"></i>
      </button>
      <!-- End of header__second-row -->
    </header>
    
    <main class="catalog">
      <!-- Inicio Basado en última visita -->
      <div class="catalog__category">
        <div class="catalog__category-title">
          <p class="catalog__category__description">Basado en tu última visita</p>
        </div>
        <article class="catalog__category__article article__element">
        <img src="/images/img-cafetera-moulinex.jpg" alt="" />
        <ul class="catalog__category__article__item-description article__element__description ">
          <p class="item-price">$677.00</p>
          <p class="item-discount">40% OFF</p>
          <p class="item-name">Cafetera Moulinex</p>
        </ul>
        </article>
        <article class="catalog__category__article article__element article__element__description">
        <img src="/images/img-macbook-pro-2019.jpg" alt="" />
        <ul class="catalog__category__article__item-description article__element__description">
          <p class="item-price">$23000.00</p>
          <p class="item-discount">20% OFF</p>
          <p class="item-name">MacBook Pro 2019</p>
        </ul>
        </article>
       <article class="catalog__category__article article__element article__element__description">
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
        <ul class="catalog__category__article__item-description article__element__description">
          <p class="item-price">$7050.00</p>
          <p class="item-discount">10% OFF</p>
          <p class="item-name">Samsung Galaxy S10</p>
        </ul>
        </article>
        <article class="catalog__category__article article__element article__element__description">
        <img src="/images/img-tv-samsung-smart.jpg" alt="" />
        <ul class="catalog__category__article__item-description article__element__description">
          <p class="item-price">$2320.00</p>
          <p class="item-discount">5% OFF</p>
          <p class="item-name">SmartTv Samsung 43"</p>
        </ul>
       </article>
    </div>
      <!-- Inicio de oferttas -->
      <div class="catalog__category">
        <div class="catalog__category-title">
          <p class="catalog__category__description"">Ofertas</p>
          <!--  --></div>
          <article class="catalog__category__article article__element article__element__description">
          <img src="/images/img-cafetera-moulinex.jpg" alt="" />
          <ul class="catalog__category__article__item-description article__element__description">
            <p class="item-price">$677.00</p>
            <p class="item-discount">40% OFF</p>
            <p class="item-name">Cafetera Moulinex</p>
          </ul>
        </article>
        <article class="catalog__category__article article__element article__element__description">
          <img src="/images/img-macbook-pro-2019.jpg" alt="" />
          <ul class="catalog__category__article__item-description article__element__description">
            <p class="item-price">$23000.00</p>
            <p class="item-discount">20% OFF</p>
            <p class="item-name">MacBook Pro 2019</p>
          </ul>
        </article>
        <article class="catalog__category__article article__element article__element__description">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="" />
          <ul class="catalog__category__article__item-description article__element__description">
            <p class="item-price">$7050.00</p>
            <p class="item-discount">10% OFF</p>
            <p class="item-name">Samsung Galaxy S10</p>
          </ul>
        </article>
        <article class="catalog__category__article article__element article__element__description">
          <img src="/images/img-tv-samsung-smart.jpg" alt="" />
          <ul class="catalog__category__article__item-description article__element__description">
            <p class="item-price">$2320.00</p>
            <p class="item-discount">5% OFF</p>
            <p class="item-name">SmartTv Samsung 43"</p>
          </ul>
        </article>
      </div>
    </main>

    <footer class="footer">
      <ul class="footer__list">
        <li class="footer__list__item">
          <i class="fas fa-credit-card"></i>
          <span class="footer__list__item__title"> Pagá con tarjeta o en efectivo</span> 
          <p class="footer__list__item__description"> Con
          Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
          en puntos de pago. ¡Y siempre es seguro!
        </p>
        </li>
        <li class="footer__list__item">
          <i class="fas fa-gift"></i>
          <span class="footer__list__item__title"> Envío gratis desde $250.0 </span> 
          <p class="footer__list__item__description">Solo por
          estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
          productos. Es un beneficio de Mercado Puntos.
        </p>
        </li>
        <li class="footer__list__item">
          <i class="fas fa-user-shield"></i
          ><span class="footer__list__item__title"> Seguridad, de principio a fin </span> 
          <p class="footer__list__item__description">¿No
          te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
          hacer, porque estás siempre protegid@.
        </p>
        </li>
      </ul>
      <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
    
    
    <script src="/ham.js"></script>
  </body>
</html>
