@charset "UTF-8";
:root {
  --color-primary: #eac926;
  --color-grey-dark: #666;
  --color-grey-light: #f1efef;
  --color-icon: #1259c3;
  --color-blue-dark: #03264c;
  --color-green: #39b54a;
  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid #ebebeb;
  /*Tamaños de fuente usados*/
  --size-body: 1.2rem;
  --size-headline: 2.4rem;
  --size-prices: 1.8rem;
  --size-desc: 1.6rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif; }

a {
  color: var(--color-icon); }

a,
a:visited,
a:hover,
a:active {
  color: inherit; }

main img {
  display: block;
  margin: 1rem auto;
  max-width: 80%;
  height: auto; }

.header {
  position: fixed;
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: var(--size-body);
  padding-bottom: 2rem;
  width: 100%; }
  .header__first-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%; }
  .header__copy {
    margin: 1rem auto;
    text-align: right; }
  .header__second-row {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    transition: height, 2s; }
    .header__second-row .show {
      display: flex; }
    .header__second-row__list {
      flex-wrap: wrap;
      width: 50%;
      /*Alinear a la derecha el texto de la barra de navegación derecha */ }
      .header__second-row__list:nth-of-type(2) {
        justify-content: flex-end;
        margin-left: auto; }
      .header__second-row__list li {
        margin: 0 2px; }
  .header__nav-bar__icon {
    border: solid 1px var(--color-icon);
    color: var(--color-grey-light);
    display: block;
    font-size: 2rem;
    padding: -2px;
    text-align: center; }
    .header__nav-bar__icon i {
      background-color: var(--color-icon);
      padding: 0.5rem; }

.image__banner {
  margin-top: -1.5rem;
  width: 98vw; }
  .image__banner img.banner {
    width: 100%;
    height: auto; }

main {
  padding-top: 16rem; }

.catalog {
  background-color: var(--color-grey-light);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: var(--size-body);
  width: 90%;
  margin: auto; }

.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--size-body);
  padding-top: 2rem; }
  .footer .copyright {
    margin: 2rem 0px 1.5rem 1rem; }
  .footer__list {
    display: flex;
    justify-content: space-between;
    padding: 1rem; }
    .footer__list__item {
      font-size: 1;
      text-align: center;
      width: 30%; }
      .footer__list__item span {
        color: var(--color-grey-dark);
        display: block;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem; }
      .footer__list__item i {
        color: var(--color-icon);
        display: block;
        font-size: 2rem;
        margin-bottom: 1rem;
        width: auto; }

.delivery_icon {
  padding: 1rem;
  border-radius: 50%;
  color: var(--color-green);
  border: solid 1px var(--color-green); }

.logo {
  min-width: 25%;
  padding-left: 1rem; }

.container_search-bar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: auto;
  width: 55%;
  /*Los input no heredan propiedades font*/ }
  .container_search-bar input {
    border: none;
    border-radius: 100px;
    font-size: inherit;
    font-family: inherit;
    height: 3rem;
    margin-right: -3.5rem;
    outline: none;
    padding: 1rem 1rem;
    transition: all 0.3s;
    width: 70%;
    /*Animación de la barra de búsqueda*/ }
    .container_search-bar input:focus {
      background-color: var(--color-grey-light);
      height: 120%;
      outline: none;
      width: 100%; }

.search__icon {
  background-color: transparent;
  border: none;
  border-left: solid 1px var(--color-grey-light);
  padding-left: 1rem; }

.catalog__category-title {
  border-bottom: solid 1px var(--color-grey-light);
  color: var(--color-grey-dark);
  font-size: var(--size-headline);
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0.6rem;
  padding-bottom: 1rem;
  width: 100%; }

.catalog__category {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto; }
  .catalog__category__article {
    background-color: #fff;
    border-radius: 3px;
    margin: 1rem;
    width: 98%; }
    .catalog__category__article__item-description {
      border-top: solid 1px var(--line);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 1rem;
      padding: 1.5rem; }
      .catalog__category__article__item-description .item-price {
        color: var(--color-grey-dark);
        font-size: var(--size-prices);
        font-weight: 700;
        width: 30%; }
      .catalog__category__article__item-description .item-discount {
        color: var(--color-green);
        font-size: var(--size-desc);
        width: 25%; }
      .catalog__category__article__item-description .item-name {
        color: var(--color-grey-dark);
        font-size: var(--size-desc);
        width: 25%;
        display: none; }
  .catalog__category__description {
    align-self: flex-start;
    display: block;
    padding-left: 2.5%; }

/*-------Mostrar/ocultar nav-bar*/
.show {
  display: flex; }
  .show > * {
    display: flex; }

/* Responsivo a 600px*/
@media (min-width: 600px) {
  main {
    padding-top: 12.3rem; }
  .logo {
    min-width: 15%; }
    .logo img {
      max-height: 46px; }
  .header__copy {
    width: 20%; }
  .header__nav-bar__icon {
    display: none; }
  .header__second-row {
    display: flex; }
    .header__second-row__list {
      display: flex; }
  .catalog__category__article__item-description .item-name {
    display: block; }
  .catalog__category {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; }
    .catalog__category-title {
      background-color: transparent;
      border-bottom: none;
      margin: 0; }
    .catalog__category__article {
      box-shadow: 0px 0px 10px #646464;
      height: 460px;
      margin: 0.6rem 0.2rem;
      width: 48%; }
      .catalog__category__article__item-description {
        align-items: flex-start;
        flex-direction: column;
        width: 100%; }
        .catalog__category__article__item-description .item-price,
        .catalog__category__article__item-description .item-discount,
        .catalog__category__article__item-description .item-name {
          width: 80%; }
      .catalog__category__article img {
        max-width: 80%; } }

/*Responsivo a 770 px*/
@media (min-width: 769px) {
  main {
    padding-top: 12.3rem; }
  .logo {
    min-width: 15%; }
    .logo img {
      max-height: 46px; }
  .header__nav-bar__icon {
    display: none; }
  .header__second-row__list {
    display: flex; }
  .header__copy {
    width: 20%; }
  .header .container_search-bar {
    width: 55%; }
  .catalog__category__article__item-description .item-name {
    display: block; }
  .catalog__category__article {
    box-shadow: 0px 0px 10px #646464;
    display: flex;
    flex-wrap: wrap;
    height: 460px;
    margin: 0.6rem 0.2rem;
    width: 30%; }
    .catalog__category__article img {
      border-bottom: solid 1px var(--color-grey-light);
      height: auto;
      max-width: 80%;
      padding-bottom: 4rem; }
    .catalog__category__article__item-description {
      border: none;
      margin: -2rem 0 1rem 1rem;
      width: 100%; }
      .catalog__category__article__item-description .item-price,
      .catalog__category__article__item-description .item-discount,
      .catalog__category__article__item-description .item-name {
        width: 80%; } }

/*Responsivo a 1200px*/
@media (min-width: 1200px) {
  main {
    padding-top: 12.3rem; }
  .logo {
    min-width: 15%; }
    .logo img {
      max-height: 46px; }
  .header__nav-bar__icon {
    display: none; }
  .header__second-row__list {
    display: flex; }
  .catalog__category__article__item-description .item-name {
    display: block; }
  .catalog__category__article {
    box-shadow: 0px 0px 10px #646464;
    display: flex;
    flex-wrap: wrap;
    height: 460px;
    margin: 0.6rem 0.2rem;
    max-width: 290px;
    width: 22%; }
    .catalog__category__article img {
      height: auto;
      max-width: 80%;
      padding-bottom: 4rem; }
    .catalog__category__article__item-description {
      border-top: solid 1px var(--color-grey-light);
      border: none;
      margin: -2rem 0 1rem 1rem;
      width: 100%; }
      .catalog__category__article__item-description .item-price,
      .catalog__category__article__item-description .item-discount,
      .catalog__category__article__item-description .item-name {
        width: 80%; } }
