@charset "UTF-8";
:root {
  --color-primary: #eac926;
  --color-grey-dark: #666;
  --color-grey-light: #f1efef;
  --color-icon: #1259c3;
  --color-blue-dark: #03264c;
  --color-green: #39b54a;
  --shadow-dark: 0 0.4rem 0.6rem 0 rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  --line: 1px solid #c5c5c5;
  /*Tamaños de fuente usados*/
  --size-body: 1.2rem;
  --size-headline: 2.4rem;
  --size-prices: 1.8rem;
  --size-desc: 1.6rem; }

* {
  margin: 0;
  padding: 0; }

*,
*::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style-type: none; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif; }

.register-form input:not([type~="checkbox"]),
.register-form textarea,
.register-form select {
  font-size: 1.5rem;
  height: 3rem;
  font-family: inherit;
  outline: none;
  width: 60%;
  border-radius: 3px;
  border: none; }

a {
  color: var(--color-icon); }

a,
a:visited,
a:hover,
a:active {
  color: inherit; }

main img {
  display: block;
  margin: 1rem auto;
  max-width: 80%;
  height: auto; }

.header {
  position: fixed;
  z-index: 10;
  align-items: center;
  background-color: var(--color-primary);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: var(--size-body);
  padding-bottom: 2rem;
  width: 100%; }
  .header__first-row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
    width: 100%; }
  .header__copy {
    margin: 1rem auto;
    text-align: right; }
  .header__second-row {
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 95%;
    transition: height, 2s; }
    .header__second-row .show {
      display: flex; }
    .header__second-row__list {
      flex-wrap: wrap;
      width: 50%;
      /*Alinear a la derecha el texto de la barra de navegación derecha */ }
      .header__second-row__list:nth-of-type(2) {
        justify-content: flex-end;
        margin-left: auto; }
      .header__second-row__list li {
        margin: 0 2px; }
  .header__nav-bar__icon {
    border: solid 1px var(--color-icon);
    color: var(--color-grey-light);
    display: block;
    font-size: 2rem;
    padding: -2px;
    text-align: center; }
    .header__nav-bar__icon i {
      background-color: var(--color-icon);
      padding: 0.5rem; }

.image__banner {
  margin-top: -1.5rem;
  width: 98vw; }
  .image__banner img.banner {
    width: 100%;
    max-height: 180px; }

main {
  padding-top: 14rem; }

.catalog {
  background-color: var(--color-grey-light);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-size: var(--size-body);
  width: 90%;
  margin: auto;
  padding-bottom: 2rem; }

.footer {
  display: flex;
  flex-wrap: wrap;
  font-size: var(--size-body);
  padding-top: 2rem; }
  .footer .copyright {
    margin: 2rem 0px 1.5rem 1rem; }
  .footer__list {
    display: flex;
    justify-content: space-between;
    padding: 1rem; }
    .footer__list__item {
      font-size: 1;
      text-align: center;
      width: 30%; }
      .footer__list__item:hover i {
        color: #f028b4; }
      .footer__list__item span {
        color: var(--color-grey-dark);
        display: block;
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem; }
      .footer__list__item i {
        color: var(--color-icon);
        display: block;
        font-size: 2rem;
        margin-bottom: 1rem;
        width: auto; }

.delivery_icon {
  padding: 1rem;
  border-radius: 50%;
  color: var(--color-green);
  border: solid 1px var(--color-green); }

/*********Register section************/
.register {
  background-color: var(--color-grey-light);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

/*Formato al formulario para hacerlo responsive*/
.register-form {
  font-size: 1.5rem;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  margin: 0 auto;
  /*Todos los hijos directos del formulario que son divs*/ }
  .register-form > div {
    transition: all 0.33s;
    width: 100%;
    padding-bottom: 1.5rem;
    border-bottom: solid 1px #e0dfdf;
    margin: 1rem auto;
    /* todas las etiquetas label que son hijas directas de los elementos div anteriores*/ }
    .register-form > div label {
      display: block;
      justify-content: flex-start;
      margin: 1.5rem 0; }
    .register-form > div > * {
      /*Todos los hijos directos de los divs*/
      border: none; }

/*Nombre de la clase que tienen los divs que sirven como contenedores de cada input*/
.control-form > input {
  padding-left: 1rem; }
  .control-form > input:invalid {
    color: red; }

/*Estética del input de tipo usuario*/
.tipousuario {
  display: flex;
  flex-wrap: wrap;
  align-items: center; }
  .tipousuario label {
    height: 100%;
    margin: auto 1rem; }

/*Estética del div que contiene a las categorías*/
#categories label {
  display: inline;
  width: 70%;
  margin: auto 1rem; }

#categories > .category {
  display: flex;
  align-items: center; }

/*** Formato al ícono de foto de perfil****/
#user-pic {
  font-size: 8rem;
  display: block;
  margin: 2rem 0; }

.btns {
  align-self: center; }

/*div que contiene a los botones para mostrarlos uno a lado del otro*/
#btnform {
  color: #fff;
  background-color: var(--color-icon);
  padding: 1.5rem 0;
  border-radius: 5px;
  width: 40%;
  transition: all 0.23s;
  cursor: pointer;
  /*fondo gris al primer botó*/
  /*Efecto de sombra al pasar el cursor*/ }
  #btnform:first-child {
    background-color: #cfcece; }
  #btnform:hover {
    box-shadow: var(--shadow-dark); }

/**Termina el css del register**/
/*Empieza el login*/
/*Para acomodar los elementos*/
.logincontainer {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center;
  background-color: var(--color-grey-light);
  height: 50vh;
  /*Todos los formularios dentro del contenedor*/ }
  .logincontainer form {
    margin: 0 auto;
    width: 80%;
    text-align: center;
    /*Todos los input dentro del formulario*/
    /*Todos los botones dentro del formulario*/ }
    .logincontainer form input {
      border: none;
      outline: none;
      box-shadow: var(--shadow-light);
      font-family: inherit;
      padding-left: 1rem;
      width: 70%;
      height: 3rem;
      margin: 2rem auto;
      display: block;
      border-radius: 3px;
      /*seleccionamos el elemento de tipo texto (Nombre)*/ }
      .logincontainer form input[type~="text"]:hover {
        background-color: #77c2ff; }
      .logincontainer form input:invalid {
        color: red; }
      .logincontainer form input:valid {
        color: green;
        font-weight: 900; }
    .logincontainer form button {
      color: #fff;
      background-color: var(--color-icon);
      width: 70%;
      padding: 0.8rem;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s; }
      .logincontainer form button:hover {
        box-shadow: var(--shadow-dark); }

.logo {
  min-width: 25%;
  padding-left: 1rem; }

.container_search-bar {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: auto;
  width: 55%;
  /*Los input no heredan propiedades font*/ }
  .container_search-bar input {
    border: none;
    border-radius: 100px;
    font-size: inherit;
    font-family: inherit;
    height: 3rem;
    margin-right: -3.5rem;
    outline: none;
    padding: 1rem 1rem;
    transition: all 0.3s;
    width: 70%;
    /*Animación de la barra de búsqueda*/ }
    .container_search-bar input:focus {
      background-color: var(--color-grey-light);
      height: 120%;
      outline: none;
      width: 100%; }

.search__icon {
  background-color: transparent;
  border: none;
  border-left: solid 1px var(--color-grey-light);
  padding-left: 1rem; }

.catalog__category-title {
  border-bottom: solid 1px var(--color-grey-light);
  color: var(--color-grey-dark);
  font-size: var(--size-headline);
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 0.6rem;
  padding-bottom: 1rem;
  width: 100%; }

.catalog__category {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto; }
  .catalog__category__article {
    background-color: #fff;
    border-radius: 3px;
    margin: 1rem;
    width: 98%; }


    /*****************************************************************/
    .catalog__category__article:hover {
      transition: box-shadow 0.5s;
      box-shadow: var(--shadow-dark); }
      .catalog__category__article:hover .item-name {
        animation-name: moveInRight;
        animation-duration: 0.5s;
        animation-timing-function: ease-out;
        opacity: 1; }
      .catalog__category__article:hover .delivery_icon {
        transform: rotate(-90deg); }

        /***********************************************************/
        /*Animación*/
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translatey(250px); }
  80% {
    opacity: 1;
    transform: translatey(-12px); }
  90% {
    transform: translatey(-8px); }
  100% {
    opacity: 1;
    transform: translatey(0); } }

















    .catalog__category__article__item-description {
      width: 96%;
      border-top: var(--line);
      margin-top: 1rem;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 1rem 1rem;
      padding: 1rem 0; }
      .catalog__category__article__item-description .item-price {
        color: var(--color-grey-dark);
        font-size: var(--size-prices);
        font-weight: 700;
        width: 25%; }
      .catalog__category__article__item-description .item-discount {
        color: var(--color-green);
        font-size: var(--size-desc);
        width: 50%; }
      .catalog__category__article__item-description .item-name {
        opacity: 0;
        color: var(--color-grey-dark);
        font-size: var(--size-desc);
        width: 100%; }
      .catalog__category__article__item-description i {
        transition: all 1s;
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px; }
  .catalog__category__description {
    align-self: flex-start;
    display: block;
    padding-left: 2.5%; }

/*-------Mostrar/ocultar nav-bar*/
.show {
  display: flex; }
  .show > * {
    display: flex; }

.submitlogin:hover {
  background-color: #0022aa; }



/* Responsivo a 600px*/
@media (min-width: 600px) {
  main {
    padding-top: 10.6rem; }
  .logo {
    min-width: 15%; }
    .logo img {
      max-height: 46px; }
  .header__copy {
    width: 20%; }
  .header__nav-bar__icon {
    display: none; }
  .header__second-row {
    display: flex; }
    .header__second-row__list {
      display: flex; }
  .catalog__category {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%; }
    .catalog__category-title {
      background-color: transparent;
      border-bottom: none;
      margin: 0; }
    .catalog__category__article {
      height: 460px;
      margin: 0.6rem 0.2rem;
      width: 48%; }
      .catalog__category__article__item-description {
        align-items: flex-start;
        flex-direction: column; }
        .catalog__category__article__item-description .item-price,
        .catalog__category__article__item-description .item-discount,
        .catalog__category__article__item-description .item-name {
          width: 80%; }
      .catalog__category__article img {
        max-width: 80%; } }

/*Responsivo a 770 px*/
@media (min-width: 769px) {
  main {
    padding-top: 10.4rem; }
  .logo {
    min-width: 15%; }
    .logo img {
      max-height: 46px; }
  .header__nav-bar__icon {
    display: none; }
  .header__second-row__list {
    display: flex; }
  .header__copy {
    width: 20%; }
  .header .container_search-bar {
    width: 55%; }
  .catalog__category__article {
    display: flex;
    flex-wrap: wrap;
    height: 460px;
    margin: 0.6rem 0.2rem;
    width: 30%; }
    .catalog__category__article img {
      height: auto;
      max-width: 80%; }
    .catalog__category__article__item-description .item-price,
    .catalog__category__article__item-description .item-discount,
    .catalog__category__article__item-description .item-name {
      width: 80%; } }

/*Responsivo a 1200px*/
@media (min-width: 1200px) {
  main {
    padding-top: 10.7rem; }
  .logo {
    min-width: 15%; }
    .logo img {
      max-height: 46px; }
  .header__nav-bar__icon {
    display: none; }
  .header__second-row__list {
    display: flex; }
  .catalog__category__article {
    display: flex;
    flex-wrap: wrap;
    height: 460px;
    overflow: hidden;
    margin: 0.6rem 0.2rem;
    max-width: 290px; }
    .catalog__category__article img {
      height: auto;
      max-width: 80%; }
    .catalog__category__article__item-description .item-price,
    .catalog__category__article__item-description .item-discount,
    .catalog__category__article__item-description .item-name {
      width: 80%; }
  /*Item name*/
  /*Register*/
  .register-form {
    flex-direction: row;
    justify-content: space-between; }
    .register-form > div {
      width: 45%; } }
